<div class="p-6">
  <div class="font-bold text-xl mb-2">
    <p><%= "#{t('activerecord.attributes.user.name')}" %> : <%= @user.name %></p>
    <p><%= "#{t('activerecord.attributes.user.email')}" %>: <%= @user.email %></p>
  </div>
</div>
